/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/Gemfile.lock

# rspec failure tracking
.rspec_status

# byebug historic
.byebug_history

#irb history
.irb_history

# rbenv local setting
.ruby-version